

.control-grid {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 25%;
    margin: 10px 0px;
    /* border: 1px solid red; */

    /* flex-grow: 2; */
}

.control-box {
    border: 1px solid #ccc;
    width: 20px;
    height: 20px;    
    cursor: pointer;
}

.control-box.selected {
    background: rgba(255,255,255,0.5);
}